body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat;
  background-size:cover;
}

.fire-btn {
  background: #90ee90;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 32px;
  border: none;
  cursor: pointer;
}
